/* -------------------------- start admin style -------------------------- */
/**
 * 1
/* -------------------------- SHORTCODES BACKEND -------------------------- */

.lptw-sb-row {
    clear: both;
    margin: 10px 0;
}
.lptw-sb-result {
    min-width: 700px;
    min-height: 200px;
}
.lptw-list-categories {
    list-style: none;
}
.ready {
    background-color: #FFF3E0;
}
#columns_and_width label {
    padding-right: 20px;
}
.layout-list ul li {
    margin: 0;
}

.layout-list a {
    text-decoration: none;
}

.layout-list .dashicons {
    line-height: 1.35;
}
/* WIDGETS BACKEND */

#lptw-categories-wrapper {
    display: none;
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
.lptw-categories-list {
    margin: 1em 1em 1em 1em;
}
.lptw-categories-dropdown {
    border: 1px solid #e5e5e5;
}
.lptw-categories-dropdown a {
    text-decoration: none;
    color: #444;
    display: block;
    width: 100%;
    position: relative;
    padding: 1em;
    box-sizing: border-box;
}
.lptw-categories-dropdown a:hover {
    color: #23282d;
}
#lptw-categories-action {
    color: #a0a5aa;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
}
.lptw-categories-action-down::before {
    content: '\25bc';
}
.lptw-categories-action-up::before {
    content: '\25b2';
}
.lptw-categories-action:hover {
    color: #23282d;
}

.chosen-container {
    margin: 1em 0 0 0;
    width: 100%;
}
